<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>
    <form action="postfile" method="post">
        name: <input type="text" name="name"/>
        <hr/>
        passwd: <input type="password" name="passwd"/>
        <hr/>
        hobby: 
        <input type="checkbox" value="power" name="hobby">power
        <input type="checkbox" value="money" name="hobby">money
        <input type="checkbox" value="book" name="hobby">book
        <input type="submit" value="登录"/>
    </form>
</body>
</html>